<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./mediaquery.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %>
    <div class="main">
        <div class="box1-about">
            <h1 class="title-about">About me</h1>
            <div class="about-img"><img src="images/about.jpg"></div>
            <p class="about-para" >Hello everyone, My name is Aditya Raj. I am a web developer. To know more about me, take a tour of my <a href="https://adityaraj150.github.io/portfolio/" target="_blank" >portfolio website</a></p>
        </div>
    
        <%- include('./partials/footer') %>
    </div>

 
    <script src="./app.js" charset="UTF-8"></script>
</body>
</html>