<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="./style.css" rel="stylesheet">
    <link href="./mediaquery.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %>
    <div class="main-learn">
        <div class="box1">
            <h1 class="title">Learn CSS</h1>
            <p>coming soon!</p>
        </div>
    
        <%- include('./partials/footer') %>
    </div>
 
    <script src="./app.js" charset="UTF-8"></script>
</body>
</html>